/* CSS carousel - Slide hình ảnh - Và các class liên quan đến carousel*/

/* Container chứa slide hình ảnh */
.carousel-container-custom {
    height: 520;
}

.carousel-main-container-custom {
    height: 520;
}
/* Vật phẩm ảnh trong slide hình ảnh */
.carousel-item-custom {
    height: 520;
    width: 100%;
}

/* Vật phẩm quảng cáo dưới slide hình ảnh*/
.carousel-promo-item {
    /* background-color: red; */
    /* position: relative; */
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
}

/* Chỉnh ảnh vật phẩm quảng cáo dưới slide hình ảnh */
.carousel-promo-item-image-size {
    height: 130px;
    width: 180px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Tiêu đề vật phẩm quảng cáo dưới slide hình ảnh */
.carousel-promo-item-label {
    text-align: right;
}
