/* Custom css thay đổi thuộc tính chung chi tiết*/

/* Xuyên thấu - Màu đen */
.black-glass {
    background-color: rgba(0, 0, 0, 0.671);
}

/* Xuyên thấu - Màu đỏ */
.red-glass {
    background-color: rgba(255, 0, 0, 0.842);
}

/* Hiệu ứng cắt góc trên */
.red-glass :before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 60px solid rgb(226, 226, 226);
    border-right: 60px solid rgba(255, 0, 0, 0);
    width: 0;
}

.black-glass :before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 60px solid rgb(226, 226, 226);
    border-right: 60px solid rgba(255, 0, 0, 0);
    width: 0;
}

/* Hiệu ứng cắt góc dưới */
.black-glass :after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 80px solid rgb(226, 226, 226);
    border-left: 80px solid rgba(255, 0, 0, 0);
    width: 0;
}

/* Kết thúc - Custom css thay đổi thuộc tính chung chi tiết*/
