.select2 {
    width: 100% !important;
}

.select2-container--classic .select2-selection--single {
    background-color: #fff !important;
    background-image: unset !important;
    height: 38px !important;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #6e707e !important;
    line-height: 38px !important;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    height: 37px !important;
}