.center-custom {
    display: flex;
    justify-content: center;
    margin: auto;
}
.list-style-none {
    list-style: none;
}

a.nav-item-custom:link {
    color: black;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}

a.nav-item-custom:hover {
    color: red;
    background-color: transparent;
}
.second-navbar {
    height: 50px;
    top: 70px;
    z-index: 5;
}
.padding-0 {
    padding: 0;
}

.padding-10 {
    padding: 10;
}
.margin-0 {
    margin: 0;
}
.border-radius-10 {
    border-radius: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}
.border-radius-15 {
    border-radius: 15px;
}
.nav-item-container {
    display: flex;

    justify-content: center;

    align-items: center;
    width: 160px;
    height: 50px;
}

.nav-item-container-highlight {
    background-color: red;
    display: flex;

    justify-content: center;

    align-items: center;
    width: 200px;
    height: 50px;
}
.nav-item-container-highlight a.nav-item-custom:link {
    color: aliceblue;
    background-color: transparent;
    text-decoration: none;
}

.nav-item-container-highlight a.nav-item-custom:hover {
    color: whitesmoke;
    background-color: transparent;
}
.carousel-container-custom {
    height: 400;
}

.carousel-item-custom {
    height: 400;
    width: 944px;
}

.justify-content-center {
    justify-content: center;
}
.carousel-promo-item {
    /* background-color: red; */
    position: relative;
    width: 25%;
    height: auto;
    padding: 0;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
}

.carousel-promo-item-image-size {
    height: 130px;
    width: 180px;
    padding-left: 5px;
    padding-right: 5px;
}

.carousel-promo-item-label {
    text-align: right;
}

.black-glass {
    background-color: rgba(20, 0, 0, 0.671);
}

.red-glass {
    background-color: rgba(228, 0, 0, 0.842);
}

.red-glass :before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 70px solid white;
    border-right: 70px solid rgba(255, 0, 0, 0);
    width: 0;
}

.black-glass :after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 80px solid white;
    border-left: 80px solid rgba(255, 0, 0, 0);
    width: 0;
}
